extends layout

block content
	h1= title
	p Welcome to game #{gameId}

	div.player#host
		h2 Player 1
		span.readyStatus Not Ready

	div.player#guest
		h2 Player 2
		span.readyStatus Not Ready


	div#actions

		span#ready Ready

		div#throws
			a#rock Rock
			a#paper Paper
			a#scissors Scissors
	
	div#gameStatus
		|Game status: 
		|Nothing Happening
		//or |In Progress
		//or |?

	div#countdown		

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/src/rps.js')