extends layout

block content
	div#countdown

	div.player#host
		div.playerInfo
			div.inRoomIndicator.notInRoom
				|Not Here
			div.readyStatus.notReady
				|Not Ready
		div.persona
			h2 Host 
			div.record
				span.wins.label W:
				span.wins.data 0
				span.losses.label L:
				span.losses.data 0
				span.ties.label T:
				span.ties.data 0

			span.hand

			span.thisIsYou This is you


	div.player#guest
		div.playerInfo
			div.inRoomIndicator.notInRoom
				|Not Here
			div.readyStatus.notReady
				|Not Ready
		div.persona
			h2 Guest 
			div.record
				span.wins.label W:
				span.wins.data 0
				span.losses.label L:
				span.losses.data 0
				span.ties.label T:
				span.ties.data 0

			span.hand

			span.thisIsYou This is you


	div#actions
		span#ready Ready
		div#throws
			span#r Rock
			span#p Paper
			span#s Scissors

	div#help How do you play? Copy the URL in your browser's address bar and send it to a friend!

	div#connecting Hardcore connecting action... please wait a few seconds <img src="/stylesheets/ajax-loader.gif" />

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/src/rps.js')
