extends layout

block content
	div#countdown
		h3 Countdown

	div.player#host
		div.playerInfo
			div.inRoomIndicator.notInRoom
				|Not Here
			div.readyStatus.notReady
				|Not Ready
		div.persona
			h2 Host 
			span Hand: 
			span.hand --

	div.player#guest
		div.playerInfo
			div.inRoomIndicator.notInRoom
				|Not Here
			div.readyStatus.notReady
				|Not Ready
		div.persona
			h2 Guest 

			span Hand: 
			span.hand --


	div#actions
		span#ready Ready
		div#throws
			span#r Rock
			span#p Paper
			span#s Scissors

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/src/rps.js')