extends layout

block content
	a#createGame(href='/create', title='Create Game') Start a game

append scripts
	script
		//var rps = new RPS();
		//var homePage = new rps.HomePage();
		//homePage.initCreateBtn();