!!! 5
html
	head
		block head
			title Rock Paper Scissors
			link(rel='stylesheet', href='/stylesheets/style.css')
			
	body
		
		h1 Rock Paper Scissors

		div#mainContent	

			block content

		block scripts
			script(src='/javascripts/lib/jquery-1.7.1.min.js')