!!! 5
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/stylesheets/style.css')
			
	body
		block content

		block scripts
			script(src='/javascripts/lib/jquery-1.7.1.min.js')
			script(src='/javascripts/src/rps.js')