!!!
html
head
	block head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='/javascripts/lib/jquery-1.7.1.min.js')
		script(src='/javascripts/rps.js')
body
	block content


	block scripts