/* ---------- Start Reset --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- End Reset --------- */

body {
	font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	padding:10px;
	background-color:lightyellow;
	font-size:62.5%;
}

h1 {
	font-size: 3em;
}

div#mainContent {
	font-size:1.4em;
}

.player {
	margin:10px 10px 10px 0px;
	display:inline-block;
	width:40%;
}

.player .playerInfo {
}

.player .playerInfo div {
	width:100px;
	border:1px solid #999;
	border-bottom:none;
	margin-right:10px;
	display:inline-block;
	vertical-align:top;
	padding:5px;
	text-align:center;
}

.player .playerInfo .inRoomIndicator {

}

.player .playerInfo .inRoomIndicator.notInRoom {
	background-color:red;
}

.player .playerInfo .inRoomIndicator.inRoom {
	background-color:lightgreen;
}

.player .playerInfo .readyStatus {
}

.player .playerInfo .readyStatus.notReady {
	background-color:red;
}

.player .playerInfo .readyStatus.ready {
	background-color:lightgreen;
}

.player .persona {
	border:1px solid #999;
	padding:10px;
	display:block;
	height:100px;
}

.player.you .persona {
	background-color:pink;
}

.player h2 {
	font-size:20px;
}

.record {
	font-size:.9em;
}

.record span {
	margin-right:3px;
	padding:3px;
}

.record .label {
	background-color:#ccc;
}

.record .data {
	background-color:#eee;
}

#actions {
}

#throws {
	display:none;
}

#throws span {
	margin:0px 5px;
}

#ready, #throws span {
	display:inline-block;
	padding:10px;
	border:1px solid #999;
	background-color:lavender;
	cursor:pointer;
}

#throws span.thrown {
	background-color:turquoise;
}