/* ---------- Start Reset --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- End Reset --------- */

body {
	font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	background-color:#D8FFEC;
	font-size:62.5%;
}

h1 {
	font-size: 3em;
	padding:10px;
	background-color:#333;
	color:#eee;
}

#createGame {
	margin-top:30px;

}

div#mainContent {
	padding:0px 10px 10px 10px;
}

.player {
	margin:10px 10px 10px 0px;
	display:inline-block;
	width:40%;
	font-size:1.4em;
}

.player .playerInfo {
	font-size:.9em;
}

.player .playerInfo div {
	width:70px;
	border:1px solid #999;
	border-bottom:none;
	margin-right:10px;
	display:inline-block;
	vertical-align:top;
	padding:5px;
	text-align:center;
}

.player .playerInfo .inRoomIndicator {

}

.player .playerInfo .inRoomIndicator.notInRoom {
	background-color:#FF6861;
}

.player .playerInfo .inRoomIndicator.inRoom {
	background-color:#61FF9B;
}

.player .playerInfo .readyStatus {
}

.player .playerInfo .readyStatus.notReady {
	background-color:#FF6861;
}

.player .playerInfo .readyStatus.ready {
	background-color:#61FF9B;
}

.player .persona {
	border:1px solid #999;
	padding:5px 5px 5px 8px;
	display:block;
	height:110px;
	position:relative;
	background-color:#eee;
}

.player.you .persona {
	background-color:#FEDCD7;
}

.thisIsYou {
	position:absolute;
	top:0px;
	right:0px;
	display:none;
	padding:3px;
	font-size:.8em;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	background-color:#B26B61;
	color:#fff;
}

.you .thisIsYou {
	display:block;
}

.player h2 {
	font-size:1.5em;
	margin-bottom:3px;
}

.record {
	font-size:.9em;
	line-height:2.2em;
}

.record span {
	margin-right:3px;
	padding:2px 3px;
}

.record .label {

}

.record .data {
	
}

#actions {
}

#throws {
	display:none;
}

#throws span {
	margin:0px 5px;
}

#ready, #throws span, #createGame {
	display:inline-block;
	padding:10px;
	border:1px solid #999;
	background-color:#FFC7BF;
	cursor:pointer;
	font-size:1.4em;
	color:#222;
	text-decoration:none;
}

#throws span.thrown {
	background-color:#B26B61;
	color:#fff;
}

#ready.on {
	background-color:#B26B61;
	color:#fff;	
}

.hand {
	display:block;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:3.5em;
	text-transform:uppercase;
}

#countdown {
	height:20px;
	line-height:20px;
	font-size:2.0em;
	margin:7px 0px 2px 0px;
}

#countdown span {
	margin-right:20px;
}

#help {
	display:none;
}

#help, #connecting {
	padding: 10px 0px;
	font-size:1.3em;
	line-height:1.4em;
	color:#444;
  font-weight:bold;
}

#quitter {
	font-size:.8em;
}

#quitter a {
	color:#b26b61;
}
